body {
    margin-left: 15%;
      width: 70%;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      width: 1600px;
      height: 832px;
      position: relative;
}
h2, h3, h4 {
    text-align: center;
}
p {
    text-align: justify;
    text-justify: inter-word;
}
.bar {
    fill: #1e90ff;
}
.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
svg {
    width: 100%;
    height: 100%;
}

path.slice {
    stroke-width:2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.labelpercentage {
    font-size: 60%;
    opacity: .5;
    
}

text {
  font: 12px sans-serif;
}